<div ng-include="'components/navbar/navbar.html'"></div>
<hr>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">

            <form ng-submit="gpa.addData()">
                <input ng-model="gpa.courseNameField" type="text" size="25" placeholder="Course Name">
                <input ng-model="gpa.creditsField" type="number" size="25" placeholder="Credits">

                <select ng-model="gpa.gradeField" type="text">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>F</option>
                </select>

                <input type="submit" value="add course" class="btn btn-primary">
                <span class="floatRight">Items in this list: {{gpa.itemsInList()}}... GPA: {{gpa.gpaCalculator(gpa.data)}}</span>
            </form>

        </li>
        <li class="list-group-item" ng-repeat="test in gpa.data">Course Name: {{test.courseName}}, Credits: {{test.credits}}, Grade: {{test.grade}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="gpa.removeData($index)"></span></li>
    </ul>
</div>

